.git
.gitignore
.editorconfig
!nginx/default.conf
docker-compose.yml
Dockerfile
Dockerfile.php54
README.md
readme.rst
license.txt

application/logs/*
!application/logs/index.html

application/cache/*
!application/cache/index.html

.DS_Store
Thumbs.db